.get-involved {
    .get-involved__container {
        max-width: 1124px;
        margin: 0 auto;

        .get-involved__title {
            margin: 0px 310px 31px 310px;
            font-family: $font-poppins;
            font-size: 42px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.42;
            letter-spacing: normal;
            text-align: center;
            color: $terterary;

            @media screen and (max-width: 992px) {
                margin: 0px 0px 31px 0px;
            }
        }

        .red_text {
            color: $tomato;
        }


        .get-involved__cards {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 44px;
            max-width: 100%;
            width: 100%;
            margin: -7px;
            padding-bottom: 195px;

            @media screen and (max-width: 900px) {
                flex-wrap: wrap;
                padding-top: 10px;
            }

            .get-involved__card {
                width: 345px;
                height: 492px;
                padding: 93px 0 0;
                border: solid 1px #f0f0f0;
                background-color: $primary;
                border-bottom: 3px solid $tomato;
                position: relative;

                &:hover {
                    transform: scale(1.03);
                    transition: all 0.5s ease;
                    // box-shadow: 0px 0px 6px 0px $terterary;
                    box-shadow: 1.6px 2.5px 18px 0 rgba(0, 0, 0, 0.17);
                }

                // .shadow {
                //     box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
                // }

                @media screen and (max-width: 900px) {
                    margin: 38px 28px 60px 28px;
                }

                .image {
                    img {
                        width: 95px;
                        height: 98px;
                        margin: 0 125px 0;
                    }
                }

                .get-involved__card__text {
                    .get-involved__card__title {
                        width: 172px;
                        height: 17px;
                        margin: 22px 86px 50px 87px;
                        font-family: Lato;
                        font-size: 21.5px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: $secondary;
                    }

                    .get-involved__card__paragraph {
                        width: 263px;
                        height: 129px;
                        margin: 28px 41px 85px;
                        font-family: Lato;
                        font-size: 16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.44;
                        letter-spacing: 0.16px;
                        text-align: center;
                        color: $secondary;
                    }

                    .arrow {
                        width: 62px;
                        height: 62px;
                        padding: 22px 18px;
                        border-radius: 50%;
                        background-color: $primary;
                        position: absolute;
                        left: 131px;
                        bottom: -35px;

                        &:hover {
                            cursor: pointer;
                            box-shadow: 1px 1px 2px 1px $terterary;
                        }
                    }
                }
            }
        }
    }
}